:root {
  --header-font-size: 1.5rem;
  --header-height: calc(1.5rem * 2.5); /* header-font-size * (2 + .175) */
  /* --header-background-color: #2980b9; #1976d2, #427be4*/
  --header-background-color: #2980b9;
  /* --nav-background-color: #272c31; #2a2f3a, #343131 */
  --nav-background-color: #343131;
  --nav-color: #d9d9d9;
  --nav-padding: 1.875rem;
  --nav-link-color: orange;
  --nav-max-width: 770px;
}
.navbarContainer {
  max-width: var(--nav-max-width);
  margin: 0 auto;
}
header {
  background-color: var(--header-background-color);
  flex: 1 1 auto;
  top: 0;
  width: 100%;
  position: fixed;
}
header h1 {
  user-select: none;
  color: white;
  font-weight: bold;
  height: var(--header-height);
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: var(--header-font-size);
  max-width: 1080px;
  margin: 0 auto;
}
nav {
  top: var(--header-height);
  background-color: var(--nav-background-color);
  flex: 1 1 auto;
  align-self: center;
  width: var(--nav-max-width);
  max-width: 100%;
  padding: var(--nav-padding);
  position: fixed;
  color: var(--nav-color);
  margin: 0 auto;
}
nav h3 {
  border: 1px solid grey;
  padding: 0.5rem;
  margin: initial;
  max-width: 100%;
}
nav li {
  padding: 0.25rem;
  list-style: circle;
}
nav ul {
  margin-bottom: 1.5rem;
}
nav a {
  color: var(--nav-color);
  text-decoration: none;
}
nav a:hover {
  color: var(--nav-link-color);
}
#myNavigation {
  display: none;
}