li {
  margin: 4px 0;
}

h1,
h2,
h3 {
  font-weight: 400;
}

h1 {
  border-bottom: 3px dashed lightgray;
  font-size: 2.5rem;
  padding-bottom: 1rem;
  text-align: center;
  margin-top: 1rem;
}

h2 {
  border-bottom: 1px solid lightgray;
  padding-left: 0.32rem;
  padding-bottom: 0.32em;
}

h3 {
  max-width: 50%;
  margin: 0;
  border-left: 0.27rem solid #272c31;
  padding: 0.32em;
  padding-left: 0.72rem;
}

h2,
h3 {
  margin-top: 3rem;
  margin-bottom: 1rem;
  line-height: 1.24;
}

blockquote {
  border-left: 0.4rem solid gray;
  background-color: #dadada;
  padding: 0.25rem 1.75rem;
  font-style: italic;
  border-radius: 2px;
  margin: 2rem 1.5rem;
}
p:not(blockquote p) {
  margin: 1rem;
  margin-bottom: 1.25rem;
}
