:root {
  --main-padding: 1.125rem;
  --main-padding-top: 1.75rem;
  --main-background-color: #efefef;
  --section-padding: calc(1.618em * 1.5) calc(1.618em * 1.4)
    calc(3.236em * 1.125);
  --main-max-width: 770px;
  --main-top-margin: calc(1.5rem * 2.5); /* header-font-size * (2 + .175) */
}
main {
  flex: 1;
  padding: var(--main-padding);
  padding-top: var(--main-padding-top);
  background-color: var(--main-background-color);
  margin-top: var(--main-top-margin);
}
section {
  margin: 0 auto;
  max-width: var(--main-max-width);
  border-radius: 5px;
  background-color: white;
  padding: var(--section-padding);

  li {
    margin: 1rem 0;
    line-height: 1.4rem;
  }

  h1,
  h2,
  h3 {
    font-weight: 400;
  }

  h1 {
    border-bottom: 3px dashed lightgray;
    font-size: 1.67rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }

  h2 {
    border-bottom: 1px solid lightgray;
    padding-left: 0.32rem;
    padding-bottom: 0.32em;
  }

  h3 {
    max-width: 50%;
    margin: 0;
    border-left: 0.3rem solid #272c31;
    padding: 0.5em;
    padding-left: 0.8rem;
    font-weight: bold;
  }

  h2,
  h3 {
    margin-top: 3rem;
    margin-bottom: 1rem;
    line-height: 1.24;
  }

  p {
    line-height: 1.8rem;
  }

  blockquote {
    border-left: 0.4rem solid #bbb;
    background-color: #efefef;
    padding: 0.25rem 1.75rem;
    font-style: italic;
    border-radius: 2px;
    margin: 2rem 1.5rem;
  }
  p:not(blockquote p) {
    margin: 1rem;
    margin-bottom: 1.25rem;
  }

  .titleName {
    font-size: large;
  }

  .tagName {
    font-weight: 400;
  }
  a:hover {
    color: rgb(255, 143, 15);
  }

  code {
    margin-left: 2px;
    background-color: grey;
    color: white;
    padding: .24rem .32rem;
    border-radius: 2px;
  }
}
